*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}


nav{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: red;
    animation: cambio linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

h1{
    color: white;
}

@keyframes cambio{
    to{
        background-color: rgb(78, 78, 198);
    }
}

.anton{
    display: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: blue;
}