*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(230, 230, 230);
    font-family: monospace;
}

body{
    background-color: rgb(1, 19, 91);
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(17, 17, 17);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

nav >a > img{
    width: 180px;
}

#iconosMenu{
    display: none;
}

#menuAbrir, #menuCerrar{
    display: none;
    cursor: pointer;
}

#logoFondoMenu{
    display: none;
}

.links{
    display: flex;
    gap: 35px;

}
.links > a{
    font-size: 25px;
    text-decoration: none;
}

.links > a:hover{
    scale: 1.05;
}

@media (width < 900px){
    .menuDesplegable{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999;
        transform: translateX(100%);
        transition: ease .4s;
        width: 50%;
        height: 100vh;
        background-color: rgb(16, 16, 16);
    }

    .menuDesplegado{
        transform: translateX(0);
    }

    .links{
        flex-direction: column;
        margin-left: 40px;
        margin-top: 80px;
        gap: 60px;
        width: fit-content;
    }

    .links > a{
        display: flex;
        gap: 10px;
    }

    #menuAbrir{
        display: block;
        width: 40px;
    }

    #menuAbrir:hover{
        scale: 1.05;
    }

    #menuCerrar:hover{
        scale: 1.05;
    }

    #menuCerrar{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
    }

    #iconosMenu{
        display: block;
    }

    #logoFondoMenu{
        display: block;
        position: absolute;
        top: 400px;
        right: -50px;
        width: 300px;
        opacity: 30%;
        z-index: -1000;
    }
}

@media (width < 700px){
    .links{
        margin-left: 30px;
    }

    #logoFondoMenu{
        width: 250px;
        top: 400px;
    }
}

@media (width < 500px){
    .menuDesplegable{
        width: 100%;
    }

    #logoFondoMenu{
        top: 450px;
        width: 300px;
    }

    .links > a{
        font-size: 30px;
    }
}

