*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(152, 179, 255);
    overflow-x: hidden;
    position: relative;
    height: 300vh;
}

h1{
    font-family: monospace;
    font-size: 60px;
}

.container{
    display: grid;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-inline: 20px;
}

.container > div{
    width: 100%;
    height: 200px;
    background-color: rgb(106, 155, 164);
}

.item{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item > img{
    width: 100%;
    height: 100%;
}

.verFoto{
    position: fixed;
    cursor: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 23, 23, .7);
}
.verFoto > img{
    width: 700px;
    height: 400px;

}


/*BurgerChurger*/


nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(211, 61, 61);
    height: 80px;
    z-index: 9999999;
}

.navBar{
    display: flex;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 30px;
    color: white;
}

.menu{
    display: flex;
    width: fit-content;
    gap: 30px;
}

.menu a{
    font-size: 35px;
    color: white;
    text-decoration: none;
}


#menuCerrar{
    display: none;
}

#menuAbrir{
    display: none;
}

.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideFotos{
    position: absolute;
    transform: translateX(100vw);
    transition: ease .5s;
}

.slideFotos > img{
    width: 200px;
}

.activo{
    transform: translateX(0);
}

.activo > img{
    width: 400px;
}

.fotoIzq{
    transform: translateX(-100vw);
}

.containerSol{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 100px;
}

.containerSol > img{
    cursor: pointer;
    z-index: 99999;
}



@media (width < 900px){

    .showMenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgb(86, 86, 250);
        z-index: 298929;
    }



    .menu{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 30px;
    }

    #menuCerrar{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        cursor: pointer;
        transition: all .5s;
    }
    #menuCerrar:hover{
        scale: 1.1;
    }

    #menuAbrir{
        cursor: pointer;
        width: 40px;
        display: block;
        transition: ease .5s;
    }

    #menuAbrir:hover{
        scale: 1.1;
    }


    .menuCont{
        display: none;
    }

}

@media(width < 600px){
    .showMenu{
        position: absolute;
        top: 0;
        width: 100%;
        height: 400px;
        background-color: rgb(86, 86, 250);
        transition: ease 1s;
        z-index: 298929;
    }
    .menu a{
        width: fit-content;
    }

}