body{
	display: flex;
	justify-content: center;
	background-color: #c7c7c7;
}
.contenedor{
	display: flex;
	flex-direction: column;
	background-color: #f2f0f0;
	width: 90%;

}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #3b4e75;
	gap: 10px;
	/*clip-path: polygon(50% 0%, 0% 100%, 100% 100%);*/
}

.logo{
	display: flex;
	align-items: center;
}
.logo img{
	width: 100px;
}
.logo a{
	font-size: 50px;
	color: white;
	text-decoration: none;
	margin-left: 10px;
}

.links{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #eb4034;
	width: 500px;
	height: 50px;
}
.links a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
}

.links a:hover{
	background-color: #f76359;
}

section{
	display: flex;
	width: 100%;
}

article{
	box-sizing: border-box;
	width: 70%;
	padding-right: 25px;
	padding-left: 25px;
}
article h1{
	font-size: 30px;
	margin-bottom: -10px;
}

aside{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	width: 30%;
	background-color: #f77f23;
	height: 100%;
}

aside div{

	width: 100%;
	height: 45%;
	background-color: #e66502;

}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	gap: 10px;
	background-color: #3b4e75;
}

.links2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #eb4034;
	width: 450px;
	height: 50px;

}

.links2 a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
}
.links2 a:hover{
	background-color: #f76359;
}

.FB{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	height: 40px;
	width: 70px;
	background-color: #f77f23;
}

.FB a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
}
.FB a:hover{
	background-color: #e66502;
}

@media (max-width: 800px){
	.contenedor{
		width: 100%;
	}
	nav{
		flex-direction: column;
		padding: 0px;
	}
	.logo{
		margin-top: 10px;
	}
	.logo img{
		width: 70px;
	}
	.logo a{
		font-size: 40px;
		
	}
	.links{
		width: 100%;
		height: 40px;
	}

}

@media (max-width: 650px){
	section{
		flex-direction: column;
	}

	article{
		width: 100%;
	}

	aside{
		flex-direction: row;
		width: 100%;
		height: 150px;
		padding: 20px;
	}

	aside div{
		height: 100%;
		width: 45%;
	}

	.links2{
		width: 350px;
	}

}

@media (max-width: 400px){

	nav{
		height: 100px;
	}

	.logo img{
		width: 50px;
	}
	.logo a{
		font-size: 30px;
	}

	footer{
		flex-direction: column;
		justify-content: center;

	}
	.links2{
		width: 280px;
		
		
	}
}
